h1{
  color:gold;
  background-color: maroon;
  
}
h2{
  color:gold;
  background-color: maroon;
}
li.menu{
    color:gold;
    background-color: maroon;
    width: 150px;
}
span{
  font-weight: bold;
}
a:hover {
  background-color: gold;
}
.bold{
  background-color: gold;
}
li.menu:hover{
  background-color: gold;
}