h1{
  color:gold;
  background-color: maroon;
  text-align: center;
}
h2{
  color:gold;
  background-color: maroon;
  text-align: center;
}
li.menu{
    color:gold;
    background-color: maroon;
    width: 150px;
}
span{
  font-weight: bold;
}
a:hover {
  color:maroon;
  background-color: gold;
}
.bold{
  background-color: gold;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(180, 180, 180);
  }
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.caption{
  font-size: larger;
}
.header{
  vertical-align:middle;
}
.unsure{
  font-size: smaller;
}